<div class="w-full 2xl:w-4/5 mx-auto py-4 px-8">
  <h1 class="text-dark dark:text-white 2xl:text-5xl">Registrar Usuario</h1>

  <div class="bg-slate-300 dark:bg-slate-600 p-6 w-full rounded-lg">

    <!-- <div *ngIf="esError && !esErrors" class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
      <strong>Algo salió mal.</strong> {{mensaje}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div *ngIf="esError && esErrors">
      <div *ngFor="let message of mensajes" class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
        <strong>Algo salió mal.</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div *ngIf="esSuccess" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
      <strong>Usuario registrado exitosamente!</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="esSuccess" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
      La contraseña del usuario {{ userDetail.login }} es: " <strong>{{ userDetail.password }}</strong> ", favor de guardarla antes de salir de esta pantalla.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->

    <form (ngSubmit)="registrarUsuario()" class="flex flex-col gap-y-10 h-full dark:text-white">
      <div class="flex flex-col w-full gap-4">
        <label for="rfcRepresentante" class="after:content-['*'] after:text-red-500 after:pl-1">Nombre</label>
        <input required type="text" name="nombre" minlength="12"
          [(ngModel)]="usuario.nombre" autocomplete="off" placeholder=""
          class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
      </div>

      <div class="flex flex-col w-full gap-4">
        <label for="rfcProveedor" class="after:content-['*'] after:text-red-500 after:pl-1">Apellidos</label>
        <input required type="text" name="apellidos"
          [(ngModel)]="usuario.apellidos" autocomplete="off" placeholder=""
          class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
      </div>

      <div class="flex flex-col w-full gap-4">
        <label for="permiso" class="after:content-['*'] after:text-red-500 after:pl-1">Usuario</label>
        <input required type="text" name="login" [(ngModel)]="usuario.login"
          placeholder="Ej: PER11"
          class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
      </div>

      <div class="flex flex-col w-full gap-4">
        <label for="caracter" class="after:content-['*'] after:text-red-500 after:pl-1">Perfil</label>
        <select id="caracter" name="caracterN" [(ngModel)]="usuario.perfil"
          class="outline-none border-2 px-4 py-2 hover:cursor-pointer bg-transparent">
          <option value="contratista">Administrador</option>
          <option value="asignatario">Supervisor</option>
          <option value="permisionario">Auditor</option>
          <option value="usuario">Operador</option>
        </select>
      </div>

      <div class="flex justify-center gap-4">
        <button type="submit"
          class="bg-secondary text-white py-2 px-8 hover:opacity-75 rounded-lg disabled:opacity-50 transition-all ease-linear duration-200">
          Registrar
        </button>
      </div>
    </form>
  </div>
</div>
