<div class="w-full 2xl:w-4/5 mx-auto p-4">
    <h1 class="text-dark dark:text-white 2xl:text-5xl">Almacenes</h1>
    <section class="my-20 grid grid-cols-1 lg:grid-cols-2 gap-6 dark:text-white">
        <div>
            <label for="razonSocial" class="after:content-['*'] after:text-red-500 after:pl-1">Razon social</label>
            <select 
                name="razonSocial"
                [(ngModel)]="razonSelected"
                (change)="getPermisos(razonSelected)"
                class="outline-none w-full rounded-lg border-2 border-dark dark:border-light px-4 py-2 hover:cursor-pointer bg-transparent">
                <option value="0" class="dark:bg-primary">Seleccione una razón social</option>
                <option [value]="razon.Id" *ngFor="let razon of razonesSociales" class="dark:bg-primary">
                    {{ razon.RazonSocialName }}
                </option>
            </select>
        </div>
        <div>
            <label for="permiso">Permiso</label>
            <select     
                name="permiso"
                [(ngModel)]="permisoSelected"
                class="outline-none w-full rounded-lg border-2 border-dark dark:border-light px-4 py-2 hover:cursor-pointer bg-transparent">
                <option value="0" class="dark:bg-primary">Seleccione un permiso</option>
                <option [value]="permiso.Id" *ngFor="let permiso of permisos" class="dark:bg-primary">
                    {{permiso.NumPermiso}}
                </option>
            </select>
        </div>
    </section>
    <div class="grid grid-cols-1 lg:grid-cols-1 gap-6">
        <div>
            <h1 class="text-dark dark:text-white 2xl:text-3xl">Tanques</h1>
            <div class="bg-slate-300 dark:bg-slate-600 text-black dark:text-white p-6 w-full rounded-lg">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div class="flex flex-col w-full gap-4">
                        <label for="ClaveTanque" class="after:content-['*'] after:text-red-500 after:pl-1">Clave del Tanque</label>
                        <input required type="text" id="ClaveTanque" 
                            name="ClaveTanque"
                            [(ngModel)]="tanqueData.ClaveIdentificacionTanque"
                            placeholder="Ej: TQS-ALM-0005"
                            class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                    </div>
        
                    <div class="flex flex-col w-full gap-4">
                        <label for="Descripcion" class="after:content-['*'] after:text-red-500 after:pl-1">Descripción</label>
                        <input required type="text" id="Descripcion" 
                            name="Descripcion"
                            [(ngModel)]="tanqueData.DescripcionLocalizacion"
                            placeholder="Ej: Tanque 5"
                            class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                    </div>
        
                    <div class="flex flex-col w-full gap-4">
                        <label for="VigenciaCalibracion" class="after:content-['*'] after:text-red-500 after:pl-1">Vigencia Calibración de almacen</label>
                        <input required type="date" id="VigenciaCalibracion" 
                            name="VigenciaCalibracion"
                            [(ngModel)]="tanqueData.VigenciaCalibracionTanque"
                            min="1753-01-01"
                            max="9999-12-31"
                            class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                    </div>
        
                    <div class="flex flex-col w-full gap-4">
                        <label for="CapacidadTotal" class="after:content-['*'] after:text-red-500 after:pl-1">Capacidad Total</label>
                        <input required type="number" id="CapacidadTotal" 
                            name="CapacidadTotal"
                            [(ngModel)]="tanqueData.CapacidadTotalTanque"
                            min="0"
                            placeholder="Ej: 1000"
                            class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                    </div>
        
                    <div class="flex flex-col w-full gap-4">
                        <label for="CapacidadOperativa" class="after:content-['*'] after:text-red-500 after:pl-1">Capacidad Operativa</label>
                        <input required type="number" id="CapacidadOperativa" 
                            name="CapacidadOperativa"
                            [(ngModel)]="tanqueData.CapacidadOperativaTanque"
                            placeholder="Ej: 1000"
                            min="0"
                            class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                    </div>
        
                    <div class="flex flex-col w-full gap-4">
                        <label for="CapacidadUtil" class="after:content-['*'] after:text-red-500 after:pl-1">Capacidad Util</label>
                        <input required type="number" id="CapacidadUtil" 
                            name="CapacidadUtil"
                            [(ngModel)]="tanqueData.CapacidadUtilTanque"
                            placeholder="Ej: 1000"
                            min="0"
                            class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                    </div>
        
                    <div class="flex flex-col w-full gap-4">
                        <label for="CapacidadFondaje" class="after:content-['*'] after:text-red-500 after:pl-1">Capacidad Fondaje</label>
                        <input required type="number" id="CapacidadFondaje" 
                            name="CapacidadFondaje"
                            [(ngModel)]="tanqueData.CapacidadFondajeTanque"
                            placeholder="Ej: 1000"
                            min="0"
                            class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                    </div>
        
                    <div class="flex flex-col w-full gap-4">
                        <label for="VolumenMinimoOperacion" class="after:content-['*'] after:text-red-500 after:pl-1">Volumen Minimo Operacion</label>
                        <input required type="number" id="VolumenMinimoOperacion" 
                            name="VolumenMinimoOperacion"
                            [(ngModel)]="tanqueData.VolumenMinimoOperacion"
                            placeholder="Ej: 1000"
                            min="0"
                            class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                    </div>
                </div>
        
                <div class="flex justify-center gap-4 mt-6">
                    <button (click)="registrarTanque()" type="submit" class="bg-secondary hover:opacity-75 transition-all duration-150 ease-linear text-white py-2 px-4 rounded-md">Registrar</button>
                </div>
            </div>
        </div>
    
        <div>
            <h1 class="text-dark dark:text-white 2xl:text-3xl">Dispensarios</h1>
            <div class="bg-slate-300 dark:bg-slate-600 text-black dark:text-white p-6 w-full rounded-lg space-y-4">
                <div class="flex flex-col w-full gap-4">
                    <label for="ClaveDispensario" class="after:content-['*'] after:text-red-500 after:pl-1">Clave del Dispensario</label>
                    <input required type="text" id="ClaveDispensario" 
                        name="ClaveDispensario"
                        [(ngModel)]="dispensarioData.ClaveDispensario"
                        placeholder="Ej: DISP-0001"
                        class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                </div>

                <div class="flex justify-center gap-4">
                    <button (click)="registrarDispensario()"
                    type="submit" class="bg-secondary hover:opacity-75 transition-all duration-150 ease-linear text-white py-2 px-4 rounded-md">Registrar</button>
                </div>
            </div>
        </div>

        <div>
            <h1 class="text-dark dark:text-white 2xl:text-3xl">Medidores de tanques</h1>
            <div class="bg-slate-300 dark:bg-slate-600 text-black dark:text-white p-6 w-full rounded-lg space-y-4">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div class="flex flex-col w-full gap-4">
                        <label for="ClaveTanque" class="after:content-['*'] after:text-red-500 after:pl-1">Clave del Tanque</label>
                        <input required type="text" id="ClaveTanque" 
                            name="ClaveTanque"
                            [(ngModel)]="medidorTanqueData.ClaveTanque"
                            placeholder="Ej: TQS-ALM-0005"
                            class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                    </div>
                
                    <div class="flex flex-col w-full gap-4">
                        <label for="SistemaMedicion" class="after:content-['*'] after:text-red-500 after:pl-1">Clave del sistema medicion</label>
                        <input required type="text" id="SistemaMedicion" 
                        name="SistemaMedicion"
                        [(ngModel)]="medidorTanqueData.SistemaMedicionTanque"
                        placeholder="Ej: SME-TQS-ALM-0001"
                        class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                    </div>
                    <div class="flex flex-col w-full gap-4">
                        <label for="DescripcionLocalizacion" class="after:content-['*'] after:text-red-500 after:pl-1">Descripción o localización</label>
                        <input required type="text" id="DescripcionLocalizacion" 
                            name="DescripcionLocalizacion"
                            [(ngModel)]="medidorTanqueData.DescripcionLocalizacion"
                            placeholder="Ej: Medidor 1"
                            class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                    </div>
                    <div class="flex flex-col w-full gap-4">
                        <label for="VigenciaCalibracion" class="after:content-['*'] after:text-red-500 after:pl-1">Vigencia Calibración de almacen</label>
                        <input required type="date" id="VigenciaCalibracion" 
                            name="VigenciaCalibracion"
                            [(ngModel)]="medidorTanqueData.VigenciaCalibracion"
                            min="1753-01-01"
                            max="9999-12-31"
                            class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                    </div>
                    <div class="flex flex-col w-full gap-4">
                        <label for="IncertidumbreMedicion" class="after:content-['*'] after:text-red-500 after:pl-1">Incertidumbre de la medición</label>
                        <input required type="number" id="IncertidumbreMedicion" 
                            name="IncertidumbreMedicion"
                            [(ngModel)]="medidorTanqueData.IncertidumbreMedicion"
                            placeholder="Ej: 1000"
                            min="0"
                            class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                    </div>
                </div>
                <div class="flex justify-center gap-4">
                    <button (click)="registrarMedidorTanque()" type="submit" class="bg-secondary hover:opacity-75 transition-all duration-150 ease-linear text-white py-2 px-4 rounded-md">Registrar</button>
                </div>
            </div>
        </div>

        <div>
            <h1 class="text-dark dark:text-white 2xl:text-3xl">Medidores de dispensarios</h1>
            <div class="bg-slate-300 dark:bg-slate-600 text-black dark:text-white p-6 w-full rounded-lg space-y-4">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div class="flex flex-col w-full gap-4">
                        <label for="ClaveDispensario" class="after:content-['*'] after:text-red-500 after:pl-1">Clave del Dispensario</label>
                        <input required type="text" id="ClaveDispensario" 
                            name="ClaveDispensario"
                            [(ngModel)]="medidorDispensarioData.ClaveDispensario"
                            placeholder="Ej: DISP-0001"
                            class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                    </div>
                    <div class="flex flex-col w-full gap-4">
                        <label for="SistemaMedicion" class="after:content-['*'] after:text-red-500 after:pl-1">Clave del sistema medicion</label>
                        <input required type="text" id="SistemaMedicion" 
                            name="SistemaMedicion"
                            [(ngModel)]="medidorDispensarioData.SistemaMedicion"
                            placeholder="Ej: SME-TQS-ALM-0001"
                            class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                    </div>
                    <div class="flex flex-col w-full gap-4">
                        <label for="DescripcionLocalizacion" class="after:content-['*'] after:text-red-500 after:pl-1">Descripción o localización</label>
                        <input required type="text" id="DescripcionLocalizacion" 
                            name="DescripcionLocalizacion"
                            [(ngModel)]="medidorDispensarioData.DescripcionLocalizacion"
                            placeholder="Ej: Medidor 1"
                            class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                    </div>
                    <div class="flex flex-col w-full gap-4">
                        <label for="VigenciaCalibracion" class="after:content-['*'] after:text-red-500 after:pl-1">Vigencia Calibración de almacen</label>
                        <input required type="date" id="VigenciaCalibracion" 
                            name="VigenciaCalibracion"
                            [(ngModel)]="medidorDispensarioData.VigenciaCalibracion"
                            min="1753-01-01"
                            max="9999-12-31"
                            class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                    </div>
                    <div class="flex flex-col w-full gap-4">
                        <label for="IncertidumbreMedicion" class="after:content-['*'] after:text-red-500 after:pl-1">Incertidumbre de la medición</label>
                        <input required type="number" id="IncertidumbreMedicion" 
                            name="IncertidumbreMedicion"
                            [(ngModel)]="medidorDispensarioData.IncertidumbreMedicion"
                            placeholder="Ej: 1000"
                            min="0"
                            class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                    </div>
                </div>
                
                <div class="flex justify-center gap-4">
                    <button (click)="registrarMedidorDispensario()" type="submit" class="bg-secondary hover:opacity-75 transition-all duration-150 ease-linear text-white py-2 px-4 rounded-md">Registrar</button>
                </div>
            </div>
        </div>

        <div>
            <h1 class="text-dark dark:text-white 2xl:text-3xl">Mangueras dispensario</h1>
            <div class="bg-slate-300 dark:bg-slate-600 text-black dark:text-white p-6 w-full rounded-lg space-y-4">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div class="flex flex-col w-full gap-4">
                        <label for="ClaveDispensario" class="after:content-['*'] after:text-red-500 after:pl-1">Clave del Dispensario</label>
                        <input required type="text" id="ClaveDispensario" 
                            name="ClaveDispensario"
                            [(ngModel)]="mangueraData.ClaveDispensario"
                            placeholder="Ej: DISP-0002"
                            class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                    </div>
                    <div class="flex flex-col w-full gap-4">
                        <label for="claveManguera" class="after:content-['*'] after:text-red-500 after:pl-1">Clave del manguera</label>
                        <input required type="text" id="claveManguera" 
                            name="claveManguera"
                            [(ngModel)]="mangueraData.ClaveManguera"
                            placeholder="Ej: DISP-0001-MGA-0001"
                            class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
                    </div>
                </div>
                
                <div class="flex justify-center gap-4">
                    <button (click)="registrarManguera()" type="submit" class="bg-secondary hover:opacity-75 transition-all duration-150 ease-linear text-white py-2 px-4 rounded-md">Registrar</button>
                </div>
    
            </div>
        </div>

    </div>
</div>