<mat-dialog-content>
  <mat-card class="mt-1" style="box-shadow: none;">
    <mat-card-title></mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col-12 content-center">
          <img src="assets/barcode.gif">
        </div>
      </div>

      <div class="row mt-3 mb-3">
        <div class="col-12 content-center">
          <h6>03-2022-062111545800-01</h6>
          <h6>Registro Publico de Derecho de Autor</h6>
        </div>
      </div>

      <div class="row" mat-dialog-actions>
        <div class="col-12 content-right">
          <button class="btn btn-outline-danger ml-3" type="submit" (click)="onNoClick()">Cerrar</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
