<div class="w-full 2xl:w-4/5 mx-auto py-4 px-8">
    <h1 class="text-dark dark:text-white 2xl:text-5xl">Razon Social</h1>

    <div class="bg-slate-300 dark:bg-slate-600 p-6 w-full rounded-lg">
        <form (ngSubmit)="onSubmit()" class="flex flex-col gap-y-10 h-full dark:text-white">
            <!-- <div class="flex flex-col w-full gap-4">
                <label for="PlantaName" class="after:content-['*'] after:text-red-500 after:pl-1">Planta</label>
                <input required type="text" id="PlantaName" 
                    [(ngModel)]="plantaData.PlantaName" 
                    name="PlantaName"
                    placeholder="Ej: Unigas Matriz"
                    class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
            </div> -->
            <div class="flex flex-col w-full gap-4">
                <label for="RazonSocialName" class="after:content-['*'] after:text-red-500 after:pl-1">Razon Social</label>
                <input required type="text" id="RazonSocialName" 
                    [(ngModel)]="plantaData.RazonSocialName"
                    name="RazonSocialName"
                    placeholder="Ej: UNI GAS"
                    class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
            </div>

            <div class="flex flex-col w-full gap-4">
                <label for="RfcContribuyente" class="after:content-['*'] after:text-red-500 after:pl-1">RFC Contribuyente</label>
                <input required type="text" id="RfcContribuyente"
                    [(ngModel)]="plantaData.RfcContribuyente"
                    name="RfcContribuyente"
                    placeholder="Ej: QUMA470929"
                    class="outline-none border-2 px-4 py-2 bg-transparent dark:placeholder:text-slate-400">
            </div>

            <div class="flex justify-center gap-4">
                <button type="submit" class="bg-secondary text-white py-2 px-4 rounded-lg">Registrar</button>
            </div>
        </form>
    </div>
</div>