<div class="w-full 2xl:w-4/5 mx-auto p-4">
  <h1 class="text-dark dark:text-white 2xl:text-5xl">Carga de datos</h1>
  
  <div class="mt-20 grid grid-cols-1 lg:grid-cols-2 gap-4">
    <section class="flex flex-col w-full gap-4">
      <h2 class="text-dark dark:text-white 2xl:text-3xl">Movimientos</h2>
      <input 
        type="file" id="movimientosFile" 
        accept=".xlsx, .xls" 
        class=" outline-none bg-light dark:bg-dark dark:text-white"
        (change)="getData($event)"
      >
    </section>

    <!-- <section class="flex flex-col w-full gap-4">
      <h2 class="text-dark dark:text-white 2xl:text-3xl">Permisos</h2>
      <input type="file" class=" outline-none bg-light dark:bg-dark dark:text-white">
    </section>

    <section class="flex flex-col w-full gap-4">
      <h2 class="text-dark dark:text-white 2xl:text-3xl">Facturas</h2>
      <input type="file" class=" outline-none bg-light dark:bg-dark dark:text-white">
    </section> -->
  </div>

  <!-- <div class="mt-20 flex flex-col gap-4">
    <h2 class="text-dark dark:text-white 2xl:text-3xl">Resultados</h2>
    <code>
      <pre>{{ excelData | json }}</pre>
    </code>
  </div> -->

  <!-- <button (click)="getData()">Process excel</button> -->
</div>
